body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}
.container{
    background-color: darkslateblue;
    width:260px;
    height: 420px;
    border-radius:20px;
    box-shadow: 0 0 10px black;
}
div form input{
    padding:20px;
    margin:7px 8px;
    border-radius: 20px;
    background-color: lightgreen;
    border:none;
    width:45px;
    align-items: center;
   
}
.display{
    display:flex;
    justify-content: flex-end;
    
}
#code-area{
    width:210px;
    text-align: right;
    background-color:transparent ;
    border: 1px solid black;
    color:azure;
    
}

#equal{
width: 100px;
}

input:hover{
    box-shadow: 0 0 5px white;
}
